#child-container{
    header{
        @include flexbox();
        @include justify-content(space-between);
        height: .44rem;
        background: red;
        i{
            text-align: center;
            font-size: .30rem;
            width: .44rem;
            &:first-child{
                background: blue;
            }
            &:last-child{
                background: blue;
            }
        }
        #serch_c{
            @include flex();
            li{
//              height:.44rem ;
                &:first-child{
//                  width: 20%;
                    background: #ccc;
                }
                &:last-child{
//                  width: 80%;
                    background: black;
                }
            }
        }
    }
    
    
    
    
    
}
